html {
    background: url("img/background.jpg");
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}
td:hover {
  background-color: #ccf2ff;
}
h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}
/* Buttons*/
button {
    position: relative;
    background-color: #336699;
    color: white;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    text-align: center;
    transition-duration: 1s;
    text-decoration: none;
    overflow: hidden;
    margin-top: 15px;
    font-family: inherit;
}

button:hover{
   background:#fff;
   box-shadow:0px 2px 10px 5px #4e6d7e;
   color:#000;
}

#submitButton {
    margin-left: 15px;
}

.field {
    font-size: 15px;
    transition-duration: 1s;
    text-decoration: none;
    overflow: hidden;
    margin-top: 15px;
    font-family: inherit;
}


.field:hover{
   background:#fff;
   box-shadow:0px 2px 10px 5px #4e6d7e;
   color:#000;
}

.field {
  background-color: #336699;
  font-family: cursive;
  font-size: 15px;
  color: white;
  text-align: center;
}

.field:after {
    background: #44606f;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

table {
    border-collapse: collapse;
    margin: 2 auto;
    background-color: white;
    margin-left: auto;
    margin-right: auto
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 5em;
}

p
{
	margin: 0 0 10px;
}

.animate {
	font-size: 80px;
	margin: 100px 0 0;
}

.animate span {
	display: inline-block;
}

.animate span:nth-of-type(2) {
	animation-delay: .05s;
}
.animate span:nth-of-type(3) {
	animation-delay: .1s;
}
.animate span:nth-of-type(4) {
	animation-delay: .15s;
}
.animate span:nth-of-type(5) {
	animation-delay: .2s;
}
.animate span:nth-of-type(6) {
	animation-delay: .25s;
}
.animate span:nth-of-type(7) {
	animation-delay: .3s;
}
.animate span:nth-of-type(8) {
	animation-delay: .35s;
}
.animate span:nth-of-type(9) {
	animation-delay: .4s;
}
.animate span:nth-of-type(10) {
	animation-delay: .45s;
}
.animate span:nth-of-type(11) {
	animation-delay: .5s;
}
.animate span:nth-of-type(12) {
	animation-delay: .55s;
}
.animate span:nth-of-type(13) {
	animation-delay: .6s;
}
.animate span:nth-of-type(14) {
	animation-delay: .65s;
}
.animate span:nth-of-type(15) {
	animation-delay: .7s;
}
.animate span:nth-of-type(16) {
	animation-delay: .75s;
}

/* Animation */

.one span {
	color: #0d0d0d;
	opacity: 5;
  font-family: Monoton;
	transform: translate(-150px, -50px) rotate(-180deg) scale(3);
	animation: revolveScale .4s forwards;
}

@keyframes revolveScale {
	60% {
		transform: translate(20px, 20px) rotate(30deg) scale(.3);
	}

	100% {
		transform: translate(0) rotate(0) scale(1);
		opacity: 1;
	}
}
